body {
  font-family: 'Noto Sans', sans-serif;  
}

a.document-list--item:hover > div {
  background: #EEE;
}

#autocomplete > .menu {
  background-color: white; 
  border: 1px solid grey;
  width: 100%;
  position: absolute;
  z-index: 100;
}